@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.bg-menu {
  background-color: rgba(0, 0, 0, 0.724);
}

.bg-body {
  background-image: url(./assets/fondo.png);
  background-repeat: repeat;
  background-color: #061f39;
}

.bg-card-green {
  /* background-color: rgba(20, 136, 20, 0.403); */
  background-color: #053330;
}

.bg-card-yellow {
  background-color: #374026;
}

.card {
  height: 250px;
}

h3 {
  text-wrap: balance;
}
